# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.python-version
*.ipynb

# Virtual environments
.venv/
env/
venv/
ENV/

# Vector databases and data
chroma_db/
company_chroma_db/
user_chroma_db/
test_chroma_db_kb/
temp/

# Package management
uv.lock
poetry.lock
Pipfile.lock

# Jupyter Notebook
*.ipynb_checkpoints/
.ipynb_checkpoints/

# IDE
.vscode/
.idea/


# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Testing
.pytest_cache/
.coverage
htmlcov/

# Distribution / packaging
dist/
build/
*.egg-info/

test.py
test3.py
test2.py
*.json
gcloud.json